.icon-specs
{
    font-size: 100%;
}

.title-height
{
    height: 50%;
}

.text-alignment
{
    margin-left: 5%;
}

.bottom-drawer-precedence {
    z-index: 1000;
}

.slides-color {
    background-color: #239D4E !important;;
}

.hide-color {
    background-color: none;
}