<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="../../../assets/images/paj-logo.png">
  </div>
  <div class="field-box">
    <!-- {{ 'HOME.text' | translate }} -->
    <ion-list>
      <form #f="ngForm" (ngSubmit)="login(f)">
        <ion-item>
          <ion-icon class="flaticon-email" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Email" ngModel name="email" [(ngModel)]="email" required class="ion-margin-start"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon class="flaticon-key" slot="start"></ion-icon>
          <ion-input [type]="passwordType" placeholder="Password" ngModel name="password" [(ngModel)]="password" required class="ion-margin-start"></ion-input>
          <ion-icon [name]="passwordIcon" (click)='hideShowPassword()' slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon class="flaticon-world" slot="start"></ion-icon>
          <ion-label>Language</ion-label>
          <ion-select placeholder="Select One" name="language" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="ko">Korean</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
      <ion-item class="login-link ion-text-center">
        Forgot Your <a href="javascript:void(0);" (click)="vergessenPasswort()"> Password?</a> 
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="large" [disabled]="!f.valid" (click)="login(f);">
      Login <ion-icon class="flaticon-arrow-pointing-to-right"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>