
<ion-header>
  <ion-toolbar>
  <ion-title>Device Image</ion-title>
   <ion-buttons slot="start">
    <ion-button (click)="dismiss()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-avatar> -->
    <!-- <img class="profile" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
    <div *ngIf="!this.iconusecustom" class="deafultIcon profile"  [style.backgroundImage]="'url(../../../../../assets/icons/map/devices/device_markers/'+ this.iconname +'.png)'" ></div>
    <!-- <img alt="Image not Found" *ngIf="!this.iconusecustom" class="deafultIcon profile" src="../../../../../assets/icons/map/devices/device_markers/{{this.iconname}}.png"> -->
    
    <div *ngIf="this.iconusecustom" class="deafultIcon profile"  [style.backgroundImage]="'url('+ this.url+'/upload/images/users/'+this.user_id+'/devices/'+this.id+'/customImg/'+this.iconcustomimage +')'"></div>
    <!-- <img alt="Image not Found" class="deafultIcon profile" *ngIf="this.iconusecustom" [src]="(this.url+'/upload/images/users/'+this.user_id+'/devices/'+this.id+'/customImg/'+this.iconcustomimage)"> -->
    <!-- <img alt="Image not Found" class="profile" src="../../../../assets/device_markers/{{this.deafIconName}}.png"> -->
    <input type="file" style="display: none;" accept="image/*" (change)="fileupload($event)" #fileinput />
    <!-- <input type="file"  accept="image/*" capture="camera" #cameraInput /> -->
  <!-- </ion-avatar> -->
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row >
      <ion-col (click)="DeafultImg()"  class="center-align">
        <ion-icon class="bottom-icon" name="person"></ion-icon>
        <ion-label>Deafult Picture</ion-label>
      </ion-col>
      <ion-col (click)="takePicture()" class="center-align">
        <ion-icon class="bottom-icon" name="camera"></ion-icon>
        <ion-label>Take photo</ion-label>
      </ion-col>

      <ion-col (click)="fileinput.click()" class="center-align">
        <ion-icon class="bottom-icon" name="cloud-upload"></ion-icon>
        <ion-label>Select Image</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>