ion-menu ion-content {
    // --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  ion-menu.md ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 20px 0;
  }
  
  ion-menu.md ion-note {
    margin-bottom: 30px;
  }
  
  ion-menu.md ion-list-header,
  ion-menu.md ion-note {
    padding-left: 10px;
  }
  
  ion-menu.md ion-list#inbox-list {
    // border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-list#inbox-list ion-list-header {
    font-size: 22px;
    font-weight: 600;
  
    min-height: 20px;
  }
  
  ion-menu.md ion-list#labels-list ion-list-header {
    font-size: 16px;
  
    margin-bottom: 18px;
  
    color: #757575;
  
    min-height: 26px;
  }
  
  ion-menu.md ion-item {
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 4px;
  }
  
  ion-menu.md ion-item.selected {
    // --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }
  
  ion-menu.md ion-item ion-label {
    font-weight: 500;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list#labels-list ion-list-header {
    margin-bottom: 8px;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: 16px;
  
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }
  
  
  /***************************************/
  // Left panel menu customization start
  ion-menu{
    margin: 0;
    padding: 0;
    
    --background: url('./../../../assets/images/panel-bg.jpg') no-repeat;
    ion-header{
        ion-toolbar{
            height: 185px;
            padding:20px 10px 20px 20px !important;
            overflow: auto !important;
            min-height: 130px !important;
            
            ion-avatar{
                width: 90px;
                height: 90px;
                border: solid 5px #f57d48;
                vertical-align: top;
            }
        } 
        
        .panel-user-detail{
            width: 100%;
            text-align: left;
            h3{
                margin: 0; 
                padding: 10px 0 0;
                font-size: 18px;
            }
            p{
                margin: 0; 
                padding: 5px 0 0;
                font-size: 14px;
                font-weight: normal;
            }
        }
    }
    ion-content{
        margin: 0;
        padding: 0;
        .inner-scroll{
            
        }
        --background: transparent;
        ion-list{
            background: transparent;  
            padding: 0;
            ion-item{
              --background:transparent;
              ion-icon{
                padding: 2px;
                margin-right: 10px;
                font-size: 21px;
                height: 27px;
                width: 32px;
              }
            }
        }
    }
    ion-footer{
      ion-toolbar{
        --background: #f0f0f0;
        --min-height: 45px;
        span{
          font-size: 13px;
        }
      }
    }  
  }
  // Left panel menu customization end
  /***************************************/