ion-content{
    --background: var(--contentbg);
    .device-list{
        //padding:3px 10px 10px;
        .flaticon-move{
            color: #adadad;
            font-size:20px;
        }
        ion-list{
            ion-item{
                --background: var(--lightgrey);
                border-radius: 5px;
                margin-bottom: 10px;
                ion-avatar{
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    img{
                        border-radius: 5px;
                    }   
                }
                ion-toggle{
                    margin: 0;
                    padding:5px 8px;
                }
                .item-inner{
                    border: 0 !important;
                } 
            }
            
        }
    }

    ion-card{
       border-bottom: solid 1px var(--bordercolor);
       border-radius: 0;
       margin: 0 0 10px;
        box-shadow: none;
        .white {
            background: var(--ion-item-background,var(--ion-background-color,#fff));
        }
        &:last-child{
            margin-bottom: 0;
        }
        ion-card-header{
            text-align: left;
            background: var(--lightgrey);
            //padding: 15px;
            ion-card-title{
                font-size: 14px;
                color: var(--black);
                margin: 0;
                img{
                    display: inline;
                    width: 25px;
                    vertical-align: middle;
                    margin: -3px 5px 0 0;
                }
            }
            i{
                position: absolute;
                color: var(--primary);
                right: 15px;
                bottom: 15px;
                font-size: 16px;
            }
        }
       
        ion-card-content{
            &.device-detail{
                padding: 0;
            }
            padding: 10px;
            ion-list{
                padding: 0;
                ion-item{
                    border-bottom: solid 1px var(--bordercolor);
                    --min-height: 40px;
                    &:last-child{
                        border:0;
                    }
                    ion-avatar{
                        width: 20px;
                        height: 20px;
                        img{
                            border-radius: 0; 
                        }
                    }
                    ion-icon{
                        font-size: 17px;
                        color: var(--primary);
                        margin: 1px 15px 0 0;
                        height: 25px;
                    }
                    ion-label{
                        font-size: 14px;
                    }
                    ion-select{
                        width: 100%;
                        display: contents;   
                    }
                    .color-box{
                        border-radius: 5px;
                        height: 35px;
                        width: 90px;
                        float: right;
                    }
                }
            }
        }
    }
}